body {
  display: flex;
  flex-flow: wrap;
  margin: 0;

  font-family: 'Roboto', serif;
  font-weight: bold;
  text-align: center;
}

body > * { flex: 1 100%; }

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;

  color: #ffffff;

  background-color: #051440;
}

h1 { font-size: 3em; }

img { width: 150px; }

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.confirmed {
  height: 30vh;

  background-color: #ffffff;
}

.deaths-recovered {
  height: 50vh;

  background-color: #EC1920;
}

.number {
  font-size: 40px;
  font-weight: bold;
}

.info {
  margin-top: 0;

  font-size: 1.5em;
}

footer {
  color: #ffffff;

  background-color: #051440;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover { color: #EC1920; }

@media all and (min-width: 576px) {
  body > * { height: 47vh !important; }

  section { flex: 1 0 0; }

  img { width: 250px; }

  .number { font-size: 60px; }

  .info { font-size: 2em; }

  footer {
    flex: 1 100%;
    height: 6vh !important;
  }
}